In [18]:
#dependencies and set-up
import requests
import pandas as pd
from config import api_key

In [45]:
#import csv
df = pd.read_csv("Resources/aisd_meal_reimbursement_years_15_19.csv")

##### After testing a few elementary names via the Geocode api request, EL is not registering as elementary. I'll now need to replace all EL with ELEMENTARY within SiteName column.

In [52]:
elementary_schools = df[df["SiteName"].str.contains("EL")]

elmtry_list = elementary_schools["SiteName"].unique().tolist()
elmtry_list

['ALLISON EL',
 'ANDREWS EL',
 'BALDWIN ELEMENTARY',
 'BARANOFF EL',
 'BARRINGTON EL',
 'BARTON HILLS EL',
 'BECKER EL',
 'BLACKSHEAR EL',
 'BLANTON EL',
 'BLAZIER ELEMENTARY SCHOOL',
 'BOONE EL',
 'BRENTWOOD EL',
 'BROOKE EL',
 'BRYKER WOODS EL',
 'CAMPBELL EL',
 'CASEY EL',
 'CASIS EL',
 'CLAYTON EL',
 'COOK EL',
 'COWAN ELEMENTARY',
 'CUNNINGHAM EL',
 'DAVIS EL',
 'DAWSON EL',
 'DOSS EL',
 'GALINDO EL',
 'GOVALLE EL',
 'GRAHAM EL',
 'GULLETT EL',
 'HARRIS EL',
 'HART ELEMENTARY',
 'HIGHLAND PARK EL',
 'HILL EL',
 'HOUSTON EL',
 'JORDAN EL',
 'JOSLIN EL',
 'KIKER EL',
 'KOCUREK EL',
 'LANGFORD EL',
 'LEE EL',
 'LINDER EL',
 'MAPLEWOOD EL',
 'MATHEWS EL',
 'MCBEE ELEMENTARY',
 'MENCHACA EL',
 'METZ EL',
 'MILLS ELEMENTARY',
 'NORMAN-SIMS EL',
 'OAK HILL EL',
 'OAK SPRINGS EL',
 'ODOM EL',
 'ORTEGA EL',
 'OVERTON ELEMENTARY',
 'PADRON EL',
 'PALM EL',
 'PATTON EL',
 'PEASE EL',
 'PECAN SPRINGS EL',
 'PEREZ EL',
 'PICKLE ELEMENTARY',
 'PILLOW EL',
 'PLEASANT HILL EL',
 'REILLY EL',
 'RIDGETOP EL',
 'RODRIGUEZ EL',
 'ROSEDALE SCHOOL DEVELOPMENT CTR.',
 'SANCHEZ EL',
 'SIMS EL',
 'ST ELMO EL',
 'SUMMITT EL',
 'SUNSET VALLEY EL',
 'T A BROWN EL',
 'WALNUT CREEK EL',
 'WIDEN EL',
 'WILLIAMS EL',
 'WINN EL',
 'WOOLDRIDGE EL',
 'WOOTEN EL',
 'ZAVALA EL',
 'ZILKER EL',
 'LIVELY MIDDLE']

In [55]:
#attempted to replace all "EL" with "ELEMENTARY" by using replace but it replaced the middle of several schools
#makes it necessary to do it by each school that just contains EL on the end
df = df.replace({"SiteName": {'ALLISON EL' : 'ALLISON ELEMENTARY',
                         'ANDREWS EL' : 'ANDREWS ELEMENTARY',
                         'BARANOFF EL' : 'BARANOFF ELEMENTARY',
                         'BARRINGTON EL' : 'BARRINGTON ELEMENTARY',
                         'BARTON HILLS EL' : 'BARTON HILLS ELEMENTARY',
                         'BECKER EL' : 'BECKER ELEMENTARY',
                         'BLACKSHEAR EL' : 'BLACKSHEAR ELEMENTARY',
                         'BLANTON EL' : 'BLANTON ELEMENTARY',
                         'BOONE EL' : 'BOONE ELEMENTARY',
                         'BRENTWOOD EL' : 'BRENTWOOD ELEMENTARY',
                         'BROOKE EL' : 'BROOKE ELEMENTARY',
                         'BRYKER WOODS EL' : 'BRYKER WOODS ELEMENTARY',
                         'CAMPBELL EL' : 'CAMPBELL ELEMENTARY',
                         'CASEY EL' : 'CASEY ELEMENTARY',
                         'CASIS EL' : 'CASIS ELEMENTARY',
                         'CLAYTON EL' : 'CLAYTON ELEMENTARY',
                         'COOK EL' : 'COOK ELEMENTARY',
                         'CUNNINGHAM EL' : 'CUNNINGHAM ELEMENTARY',
                         'DAVIS EL' : 'DAVIS ELEMENTARY',
                         'DAWSON EL' : 'DAWSON ELEMENTARY',
                         'DOSS EL' : 'DOSS ELEMENTARY',
                         'GALINDO EL' : 'GALINDO ELEMENTARY',
                         'GOVALLE EL' : 'GOVALLE ELEMENTARY',
                         'GRAHAM EL' : 'GRAHAM ELEMENTARY',
                         'GULLETT EL' : 'GULLETT ELEMENTARY',
                         'HARRIS EL' : 'HARRIS ELEMENTARY',
                         'HIGHLAND PARK EL' : 'HIGHLAND PARK ELEMENTARY',
                         'HILL EL' : 'HILL ELEMENTARY',
                         'HOUSTON EL' : 'HOUSTON ELEMENTARY',
                         'JORDAN EL' : 'JORDAN ELEMENTARY',
                         'JOSLIN EL' : 'JOSLIN ELEMENTARY',
                         'KIKER EL' : 'KIKER ELEMENTARY',
                         'KOCUREK EL' : 'KOCUREK ELEMENTARY',
                         'LANGFORD EL' : 'LANGFORD ELEMENTARY',
                         'LEE EL' : 'LEE ELEMENTARY',
                         'LINDER EL' : 'LINDER ELEMENTARY',
                         'MAPLEWOOD EL' : 'MAPLEWOOD ELEMENTARY',
                         'MATHEWS EL' : 'MATHEWS ELEMENTARY',
                         'MENCHACA EL' : 'MENCHACA ELEMENTARY',
                         'METZ EL' : 'METZ ELEMENTARY',
                         'NORMAN-SIMS EL' : 'NORMAN-SIMS ELEMENTARY',
                         'OAK HILL EL' : 'OAK HILL ELEMENTARY',
                         'OAK SPRINGS EL' : 'OAK SPRINGS ELEMENTARY',
                         'ODOM EL' : 'ODOM ELEMENTARY',
                         'ORTEGA EL' : 'ORTEGA ELEMENTARY',
                         'PADRON EL' : 'PADRON ELEMENTARY',
                         'PALM EL' : 'PALM ELEMENTARY',
                         'PATTON EL' : 'PATTON ELEMENTARY',
                         'PEASE EL' : 'PEASE ELEMENTARY',
                         'PECAN SPRINGS EL' : 'PECAN SPRINGS ELEMENTARY',
                         'PEREZ EL' : 'PEREZ ELEMENTARY',
                         'PILLOW EL' : 'PILLOW ELEMENTARY',
                         'PLEASANT HILL EL' : 'PLEASANT HILL ELEMENTARY',
                         'REILLY EL' : 'REILLY ELEMENTARY',
                         'RIDGETOP EL' : 'RIDGETOP ELEMENTARY',
                         'RODRIGUEZ EL' : 'RODRIGUEZ ELEMENTARY',
                         'SANCHEZ EL' : 'SANCHEZ ELEMENTARY',
                         'SIMS EL' : 'SIMS ELEMENTARY',
                         'ST ELMO EL' : 'ST ELMO ELEMENTARY',
                         'SUMMITT EL' : 'SUMMITT ELEMENTARY',
                         'SUNSET VALLEY EL' : 'SUNSET VALLEY ELEMENTARY',
                         'T A BROWN EL' : 'T A BROWN ELEMENTARY',
                         'WALNUT CREEK EL' : 'WALNUT CREEK ELEMENTARY',
                         'WIDEN EL' : 'WIDEN ELEMENTARY',
                         'WILLIAMS EL' : 'WILLIAMS ELEMENTARY',
                         'WINN EL' : 'WINN ELEMENTARY',
                         'WOOLDRIDGE EL' : 'WOOLDRIDGE ELEMENTARY',
                         'WOOTEN EL' : 'WOOTEN ELEMENTARY',
                         'ZAVALA EL' : 'ZAVALA ELEMENTARY',
                         'ZILKER EL' : 'ZILKER ELEMENTARY'}}, regex=True)

In [56]:
df.head(10)

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
0,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2016 12:00:00 AM,2673.0,1498.0,332.0,842.0,687826.59
1,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON ELEMENTARY,06/01/2016 12:00:00 AM,529.0,470.0,32.0,26.0,312450.55
2,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2016 12:00:00 AM,155.0,124.0,6.0,25.0,79520.88
3,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2016 12:00:00 AM,2259.0,472.0,95.0,1692.0,200577.49
4,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS ELEMENTARY,06/01/2016 12:00:00 AM,588.0,545.0,17.0,26.0,387794.56
5,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS,06/01/2016 12:00:00 AM,784.0,373.0,88.0,323.0,208084.54
6,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AUSTIN H S,06/01/2016 12:00:00 AM,2061.0,513.0,123.0,1425.0,204362.95
7,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BAILEY MIDDLE,06/01/2016 12:00:00 AM,880.0,196.0,61.0,622.0,111990.32
8,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BALDWIN ELEMENTARY,06/01/2016 12:00:00 AM,791.0,94.0,17.0,681.0,66625.89
9,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BARANOFF ELEMENTARY,06/01/2016 12:00:00 AM,991.0,95.0,33.0,863.0,69091.97

In [64]:
#create updated CSV to ensure site names match for merging Geocoding results
df.to_csv("Resources/aisd_meal_reimbursement_years_15_19_UPDATED.csv", index=False)

In [57]:
#create list of unique school names for API calls
aisd_schools_list = df["SiteName"].unique().tolist()

In [58]:
aisd_schools_list

['AKINS H S',
 'ALLISON ELEMENTARY',
 'ALTERNATIVE LEARNING CTR',
 'ANDERSON H S',
 'ANDREWS ELEMENTARY',
 'ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS',
 'AUSTIN H S',
 'BAILEY MIDDLE',
 'BALDWIN ELEMENTARY',
 'BARANOFF ELEMENTARY',
 'BARRINGTON ELEMENTARY',
 'BARTON HILLS ELEMENTARY',
 'BECKER ELEMENTARY',
 'BEDICHEK MIDDLE',
 'BLACKSHEAR ELEMENTARY',
 'BLANTON ELEMENTARY',
 'BLAZIER ELEMENTARY SCHOOL',
 'BOONE ELEMENTARY',
 'BOWIE H S',
 'BRENTWOOD ELEMENTARY',
 'BROOKE ELEMENTARY',
 'BRYKER WOODS ELEMENTARY',
 'BURNET MIDDLE',
 'CAMPBELL ELEMENTARY',
 'CASEY ELEMENTARY',
 'CASIS ELEMENTARY',
 'CLAYTON ELEMENTARY',
 'COOK ELEMENTARY',
 'COVINGTON MIDDLE',
 'COWAN ELEMENTARY',
 'CROCKETT H S',
 'CUNNINGHAM ELEMENTARY',
 'DAVIS ELEMENTARY',
 'DAWSON ELEMENTARY',
 'DILL SPECIAL PROG',
 'DOBIE MIDDLE',
 'DOBIE PK CENTER',
 'DOSS ELEMENTARY',
 'EASTSIDE MEMORIAL AT THE JOHNSTON CAMPUS',
 'FULMORE MIDDLE',
 'GALINDO ELEMENTARY',
 'GARZA INDEPENDENCE H S',
 'GORZYCKI MIDDLE SCHOOL',
 'GOVALLE ELEMENTARY',
 'GRAHAM ELEMENTARY',
 'GUERRERO THOMPSON',
 'GULLETT ELEMENTARY',
 'HARRIS ELEMENTARY',
 'HART ELEMENTARY',
 'HIGHLAND PARK ELEMENTARY',
 'HILL ELEMENTARY',
 'HOUSTON ELEMENTARY',
 'INTERNATIONAL HIGH SCHOOL',
 'JORDAN ELEMENTARY',
 'JOSLIN ELEMENTARY',
 'KEALING M S',
 'KIKER ELEMENTARY',
 'KOCUREK ELEMENTARY',
 'LAMAR MIDDLE',
 'LANGFORD ELEMENTARY',
 'LANIER H S',
 'LASA HIGH SCHOOL',
 'LBJ HIGH SCHOOL',
 'LEE ELEMENTARY',
 'LINDER ELEMENTARY',
 'MAPLEWOOD ELEMENTARY',
 'MARTIN MIDDLE',
 'MATHEWS ELEMENTARY',
 'MCBEE ELEMENTARY',
 'MCCALLUM H S',
 'MENCHACA ELEMENTARY',
 'MENDEZ MIDDLE',
 'METZ ELEMENTARY',
 'MILLS ELEMENTARY',
 'MURCHISON MIDDLE',
 'NORMAN-SIMS ELEMENTARYEMENTARY',
 'O HENRY MIDDLE',
 'OAK HILL ELEMENTARYEMENTARY',
 'OAK SPRINGS ELEMENTARY',
 'ODOM ELEMENTARY',
 'ORTEGA ELEMENTARY',
 'OVERTON ELEMENTARY',
 'PADRON ELEMENTARY',
 'PALM ELEMENTARY',
 'PAREDES MIDDLE SCHOOL',
 'PATTON ELEMENTARY',
 'PEASE ELEMENTARY',
 'PECAN SPRINGS ELEMENTARY',
 'PEREZ ELEMENTARY',
 'PICKLE ELEMENTARY',
 'PILLOW ELEMENTARY',
 'PLEASANT HILL ELEMENTARYEMENTARY',
 'PREMIER H S AT LANIER',
 'PREMIER H S AT TRAVIS',
 'READ PRE-K DEMONSTRATION SCH',
 'REAGAN H S',
 'REILLY ELEMENTARY',
 'RIDGETOP ELEMENTARY',
 'RODRIGUEZ ELEMENTARY',
 'ROSEDALE SCHOOL DEVELOPMENT CTR.',
 'SANCHEZ ELEMENTARY',
 'SCHOOL FOR YOUNG MEN',
 'SCHOOL FOR YOUNG WOMEN',
 'SIMS ELEMENTARY',
 'SMALL MS',
 'ST ELMO ELEMENTARY',
 'SUMMITT ELEMENTARY',
 'SUNSET VALLEY ELEMENTARY',
 'T A BROWN ELEMENTARY',
 'TRAVIS EARLY COLLEGE H S',
 'TRAVIS HTS CHARTER',
 'UPHAUS EARLY CHILDHOOD CENTER',
 'WALNUT CREEK ELEMENTARY',
 'WEBB MIDDLE',
 'WEBB PRIMARY CENTER',
 'WIDEN ELEMENTARY',
 'WILLIAMS ELEMENTARY',
 'WINN ELEMENTARY',
 'WOOLDRIDGE ELEMENTARY',
 'WOOTEN ELEMENTARY',
 'ZAVALA ELEMENTARY',
 'ZILKER ELEMENTARY',
 'GARCIA YMLA',
 'SADLER MEANS YWLA',
 'GRADUATION PREP ACADEMY NAVARRO',
 'GRADUATION PREP ACADEMY TRAVIS',
 'LIVELY MIDDLE',
 'NAVARRO EARLY COLLEGE H S',
 'NORTHEAST EARLY COLLEGE H S',
 'ROSEDALE SCHOOL']

In [60]:
#test API request
r = requests.get("https://maps.googleapis.com/maps/api/geocode/json", params={
    "address": "ZILKER ELEMENTARY",
    "key": api_key
})

In [61]:
data = r.json()

In [62]:
data

{'results': [{'address_components': [{'long_name': '1900',
     'short_name': '1900',
     'types': ['street_number']},
    {'long_name': 'Bluebonnet Lane',
     'short_name': 'Bluebonnet Ln',
     'types': ['route']},
    {'long_name': 'Zilker',
     'short_name': 'Zilker',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Austin',
     'short_name': 'Austin',
     'types': ['locality', 'political']},
    {'long_name': 'Travis County',
     'short_name': 'Travis County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Texas',
     'short_name': 'TX',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '78704', 'short_name': '78704', 'types': ['postal_code']},
    {'long_name': '3342',
     'short_name': '3342',
     'types': ['postal_code_suffix']}],
   'formatted_address': '1900 Bluebonnet Ln, Austin, TX 78704, USA',
   'geometry': {'location': {'lat': 30.2525438, 'lng': -97.7745674},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 30.2538927802915,
      'lng': -97.77321841970848},
     'southwest': {'lat': 30.2511948197085, 'lng': -97.7759163802915}}},
   'place_id': 'ChIJSdWPcyi1RIYRfXFqgIVZQ98',
   'plus_code': {'compound_code': '763G+25 Austin, TX, USA',
    'global_code': '8624763G+25'},
   'types': ['establishment', 'point_of_interest', 'school']}],
 'status': 'OK'}

In [109]:
#create dataframe of unique school names
results_df = pd.DataFrame({"SiteName": aisd_schools_list})
results_df

                           SiteName
0                         AKINS H S
1                ALLISON ELEMENTARY
2          ALTERNATIVE LEARNING CTR
3                      ANDERSON H S
4                ANDREWS ELEMENTARY
..                              ...
125  GRADUATION PREP ACADEMY TRAVIS
126                   LIVELY MIDDLE
127       NAVARRO EARLY COLLEGE H S
128     NORTHEAST EARLY COLLEGE H S
129                 ROSEDALE SCHOOL

[130 rows x 1 columns]

In [110]:
#add empty columns for appending
results_df["Lat"] = ""
results_df["Lng"] = ""
results_df["Address"] = ""
results_df.head(5)

                   SiteName Lat Lng Address
0                 AKINS H S
1        ALLISON ELEMENTARY
2  ALTERNATIVE LEARNING CTR
3              ANDERSON H S
4        ANDREWS ELEMENTARY

In [113]:
#find coordinates and zip code for each school

base_url = "https://maps.googleapis.com/maps/api/geocode/json"

params = params={
    "key": api_key
}

# use iterrows to iterate through pandas dataframe
for index, row in geocode_df.iterrows():

#get school name from dataframe 
    school_name = row["SiteName"]
    
    #add address key to to params dict
    params["address"] = school_name
    
    #assemble URL and make request
    print(f"Retrieving results for {index}: {school_name}.")
    response = requests.get(base_url, params=params).json()
          
    #extract results
    results = response["results"]
          
    try:
        results_df.loc[index, "Lat"] = results[0]["geometry"]["location"]["lat"]
        results_df.loc[index, "Lng"] = results[0]["geometry"]["location"]["lng"]
        results_df.loc[index, "Address"] = results[0]["formatted_address"]
          
    except (KeyError, IndexError):
          print("Unable to find result... skipping.")
          
print("-----------------------")
print("Data retrieval complete.")
print("-----------------------")

Retrieving results for 0: AKINS H S.
Retrieving results for 1: ALLISON ELEMENTARY.
Retrieving results for 2: ALTERNATIVE LEARNING CTR.
Retrieving results for 3: ANDERSON H S.
Retrieving results for 4: ANDREWS ELEMENTARY.
Retrieving results for 5: ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS.
Retrieving results for 6: AUSTIN H S.
Retrieving results for 7: BAILEY MIDDLE.
Retrieving results for 8: BALDWIN ELEMENTARY.
Retrieving results for 9: BARANOFF ELEMENTARY.
Retrieving results for 10: BARRINGTON ELEMENTARY.
Retrieving results for 11: BARTON HILLS ELEMENTARY.
Retrieving results for 12: BECKER ELEMENTARY.
Retrieving results for 13: BEDICHEK MIDDLE.
Retrieving results for 14: BLACKSHEAR ELEMENTARY.
Retrieving results for 15: BLANTON ELEMENTARY.
Retrieving results for 16: BLAZIER ELEMENTARY SCHOOL.
Retrieving results for 17: BOONE ELEMENTARY.
Retrieving results for 18: BOWIE H S.
Retrieving results for 19: BRENTWOOD ELEMENTARY.
Retrieving results for 20: BROOKE ELEMENTARY.
Retrieving results for 21: BRYKER WOODS ELEMENTARY.
Retrieving results for 22: BURNET MIDDLE.
Retrieving results for 23: CAMPBELL ELEMENTARY.
Retrieving results for 24: CASEY ELEMENTARY.
Retrieving results for 25: CASIS ELEMENTARY.
Retrieving results for 26: CLAYTON ELEMENTARY.
Retrieving results for 27: COOK ELEMENTARY.
Retrieving results for 28: COVINGTON MIDDLE.
Retrieving results for 29: COWAN ELEMENTARY.
Retrieving results for 30: CROCKETT H S.
Retrieving results for 31: CUNNINGHAM ELEMENTARY.
Retrieving results for 32: DAVIS ELEMENTARY.
Retrieving results for 33: DAWSON ELEMENTARY.
Retrieving results for 34: DILL SPECIAL PROG.
Unable to find result... skipping.
Retrieving results for 35: DOBIE MIDDLE.
Retrieving results for 36: DOBIE PK CENTER.
Retrieving results for 37: DOSS ELEMENTARY.
Retrieving results for 38: EASTSIDE MEMORIAL AT THE JOHNSTON CAMPUS.
Retrieving results for 39: FULMORE MIDDLE.
Retrieving results for 40: GALINDO ELEMENTARY.
Retrieving results for 41: GARZA INDEPENDENCE H S.
Retrieving results for 42: GORZYCKI MIDDLE SCHOOL.
Retrieving results for 43: GOVALLE ELEMENTARY.
Retrieving results for 44: GRAHAM ELEMENTARY.
Retrieving results for 45: GUERRERO THOMPSON.
Retrieving results for 46: GULLETT ELEMENTARY.
Retrieving results for 47: HARRIS ELEMENTARY.
Retrieving results for 48: HART ELEMENTARY.
Retrieving results for 49: HIGHLAND PARK ELEMENTARY.
Retrieving results for 50: HILL ELEMENTARY.
Retrieving results for 51: HOUSTON ELEMENTARY.
Retrieving results for 52: INTERNATIONAL HIGH SCHOOL.
Retrieving results for 53: JORDAN ELEMENTARY.
Retrieving results for 54: JOSLIN ELEMENTARY.
Retrieving results for 55: KEALING M S.
Retrieving results for 56: KIKER ELEMENTARY.
Retrieving results for 57: KOCUREK ELEMENTARY.
Retrieving results for 58: LAMAR MIDDLE.
Retrieving results for 59: LANGFORD ELEMENTARY.
Retrieving results for 60: LANIER H S.
Retrieving results for 61: LASA HIGH SCHOOL.
Retrieving results for 62: LBJ HIGH SCHOOL.
Retrieving results for 63: LEE ELEMENTARY.
Retrieving results for 64: LINDER ELEMENTARY.
Retrieving results for 65: MAPLEWOOD ELEMENTARY.
Retrieving results for 66: MARTIN MIDDLE.
Retrieving results for 67: MATHEWS ELEMENTARY.
Retrieving results for 68: MCBEE ELEMENTARY.
Retrieving results for 69: MCCALLUM H S.
Retrieving results for 70: MENCHACA ELEMENTARY.
Retrieving results for 71: MENDEZ MIDDLE.
Retrieving results for 72: METZ ELEMENTARY.
Retrieving results for 73: MILLS ELEMENTARY.
Retrieving results for 74: MURCHISON MIDDLE.
Retrieving results for 75: NORMAN-SIMS ELEMENTARYEMENTARY.
Retrieving results for 76: O HENRY MIDDLE.
Retrieving results for 77: OAK HILL ELEMENTARYEMENTARY.
Retrieving results for 78: OAK SPRINGS ELEMENTARY.
Retrieving results for 79: ODOM ELEMENTARY.
Retrieving results for 80: ORTEGA ELEMENTARY.
Retrieving results for 81: OVERTON ELEMENTARY.
Retrieving results for 82: PADRON ELEMENTARY.
Retrieving results for 83: PALM ELEMENTARY.
Retrieving results for 84: PAREDES MIDDLE SCHOOL.
Retrieving results for 85: PATTON ELEMENTARY.
Retrieving results for 86: PEASE ELEMENTARY.
Retrieving results for 87: PECAN SPRINGS ELEMENTARY.
Retrieving results for 88: PEREZ ELEMENTARY.
Retrieving results for 89: PICKLE ELEMENTARY.
Retrieving results for 90: PILLOW ELEMENTARY.
Retrieving results for 91: PLEASANT HILL ELEMENTARYEMENTARY.
Retrieving results for 92: PREMIER H S AT LANIER.
Retrieving results for 93: PREMIER H S AT TRAVIS.
Retrieving results for 94: READ PRE-K DEMONSTRATION SCH.
Retrieving results for 95: REAGAN H S.
Retrieving results for 96: REILLY ELEMENTARY.
Retrieving results for 97: RIDGETOP ELEMENTARY.
Retrieving results for 98: RODRIGUEZ ELEMENTARY.
Retrieving results for 99: ROSEDALE SCHOOL DEVELOPMENT CTR..
Retrieving results for 100: SANCHEZ ELEMENTARY.
Retrieving results for 101: SCHOOL FOR YOUNG MEN.
Retrieving results for 102: SCHOOL FOR YOUNG WOMEN.
Retrieving results for 103: SIMS ELEMENTARY.
Retrieving results for 104: SMALL MS.
Retrieving results for 105: ST ELMO ELEMENTARY.
Retrieving results for 106: SUMMITT ELEMENTARY.
Retrieving results for 107: SUNSET VALLEY ELEMENTARY.
Retrieving results for 108: T A BROWN ELEMENTARY.
Retrieving results for 109: TRAVIS EARLY COLLEGE H S.
Retrieving results for 110: TRAVIS HTS CHARTER.
Retrieving results for 111: UPHAUS EARLY CHILDHOOD CENTER.
Retrieving results for 112: WALNUT CREEK ELEMENTARY.
Retrieving results for 113: WEBB MIDDLE.
Retrieving results for 114: WEBB PRIMARY CENTER.
Retrieving results for 115: WIDEN ELEMENTARY.
Retrieving results for 116: WILLIAMS ELEMENTARY.
Retrieving results for 117: WINN ELEMENTARY.
Retrieving results for 118: WOOLDRIDGE ELEMENTARY.
Retrieving results for 119: WOOTEN ELEMENTARY.
Retrieving results for 120: ZAVALA ELEMENTARY.
Retrieving results for 121: ZILKER ELEMENTARY.
Retrieving results for 122: GARCIA YMLA.
Retrieving results for 123: SADLER MEANS YWLA.
Retrieving results for 124: GRADUATION PREP ACADEMY NAVARRO.
Unable to find result... skipping.
Retrieving results for 125: GRADUATION PREP ACADEMY TRAVIS.
Retrieving results for 126: LIVELY MIDDLE.
Retrieving results for 127: NAVARRO EARLY COLLEGE H S.
Retrieving results for 128: NORTHEAST EARLY COLLEGE H S.
Retrieving results for 129: ROSEDALE SCHOOL.
-----------------------
Data retrieval complete.
-----------------------

In [114]:
results_df

,SiteName,Lat,Lng,Address
0,AKINS H S,30.1487,-97.8017,"10701 S 1st St, Austin, TX 78748, USA"
1,ALLISON ELEMENTARY,30.2358,-97.6915,"515 Vargas Rd, Austin, TX 78741, USA"
2,ALTERNATIVE LEARNING CTR,42.5007,-90.6794,"1090 Alta Vista St, Dubuque, IA 52001, USA"
3,ANDERSON H S,30.3757,-97.7528,"8403 Mesa Dr, Austin, TX 78759, USA"
4,ANDREWS ELEMENTARY,33.0918,-96.7398,"2520 Scenic Dr, Plano, TX 75025, USA"
...,...,...,...,...
125,GRADUATION PREP ACADEMY TRAVIS,30.233,-97.7442,"1211 E Oltorf St, Austin, TX 78704, USA"
126,LIVELY MIDDLE,30.2439,-97.7505,"201 E Mary St, Austin, TX 78704, USA"
127,NAVARRO EARLY COLLEGE H S,30.3602,-97.7083,"1201 Payton Gin Rd, Austin, TX 78758, USA"
128,NORTHEAST EARLY COLLEGE H S,30.3225,-97.6898,"7104 Berkman Dr, Austin, TX 78752, USA"
129,ROSEDALE SCHOOL,30.3198,-97.7403,"2117 W 49th St, Austin, TX 78756, USA"